div(ng-controller="MainCtrl")
    div.information
        alert(ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)") {{alert.msg}}
    div.btn-group
        button.btn.btn-success(ng-model="radioModal" btn-radio="'dev'") dev
        button.btn.btn-success(ng-model="radioModal" btn-radio="'biz'") biz
    div.search
        h3
            input(type="text" ng-model="keyword" placeholder="Filter Keyword")

    table(class="table table-condensed")
        thead
            tr
                th
                    a(href="" ng-click="predicate = 'Status'; reverse=!reverse") Status
                th
                    a(href="" ng-click="predicate = 'TagName'; reverse=!reverse") Name
                th
                    a(href="" ng-click="predicate = 'HostName'; reverse=!reverse") HostName
                th
                    a(href="" ng-click="predicate = 'ID'; reverse=!reverse") InstanceId
                th
                    a(href="" ng-click="predicate = 'Env'; reverse=!reverse") Env
                th
                    a(href="" ng-click="predicate = 'Signal'; reverse=!reverse") Signal
        tbody(ng-hide="showLoading")
            tr(ng-repeat="instance in filteredInstanceList = ( instanceList | filter:keyword | filter:radioModal | orderBy:predicate:reverse)" ng-class="{hoverrow: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="clickRow(instance.TagName)")
                td {{ instance.Status }}
                td {{ instance.TagName }}
                td {{ instance.HostName }}
                td {{ instance.ID }}
                td {{ instance.Env }}
                td {{ instance.Signal }}
    div(ng-show="showLoading")
        img(src="/images/loading.gif" height="30px")
        span Now Loading...