body
  font 12px Helvetica, Arial, sans-serif
  padding-top 100px
  padding 50px

a.button
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px

nav
  background-color #fff

.container
  max-width 750px

.hoverrow
  background-color #a8ffe9

.information
  position absolute
  top 10px
  left 30px
  width 300px
  height 30px

.alert
  margin-bottom 5px !important

.btn-group button
  margin-right 10px