body
  font 12px Helvetica, Arial, sans-serif

.contents
  padding-top 170px

a.button
  -webkit-border-radius 5px
  -moz-border-radius 5px
  border-radius 5px

div.search
  padding-bottom 40px

.col-xs-5
  padding-left 0px

.col-xs-7
  padding-right 0px

div.search span
  margin-left 30px
  color #ff4900

nav
  background-color #fff

a.navbar-brand
  font-size 30px !important
  font-family: 'Oswald', cursive;

nav.navbar-default
  padding-top 100px
  background-color #8a41c6
  //background-color #000066
  //opacity: 0.7
  border-right  solid 2px rgba(118, 128, 119, 0.29)
  border-left   solid 2px rgba(118, 128, 119, 0.29)
  border-bottom  solid 2px rgba(118, 128, 119, 0.29)

.navbar-brand
  color #FFFFFF !important

nav a
  color #FFFFFF !important

.container
  max-width 750px

.information
  position absolute
  left 30px
  width 300px
  height 30px

.alert
  margin-bottom 5px

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th
  background-color rgba(138, 65, 198, 0.20)
